body {
  font-size: .875rem;
}

.hide-on-load {
  display:  none;
}

/****************************************************************
 * Big Loader
*****************************************************************/
#big_loader { top: 0; left: 0; display: none; position: fixed; z-index: 100000; /*background: url( 'images/whitebg.png?v=1' ); */width: 100%; height: 100%; }
#big_loader #big_loader_html { position: fixed; z-index: 10001; height: 50px; top: 50%; margin-top: -25px; width: 100%; text-align: center; }

  
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
  * Sidebar
  */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
  * Content
  */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
  * Navbar
  */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  font-family: "Hack", monospace;
  font-weight: 2;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  max-width: 159.98px !important;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.sidebar-right {
    padding-top:71px;
}

.sidebarRightMenu {
  padding-left: 6rem;
}

#searchResults {
  overflow-y: scroll;
  max-height: 100vh;
}

.searchResultRow {
  margin-bottom:10px;
  border-top: 1px solid black;
}

.searchResultImage {
  margin-top: 5px;
  text-align: center;
}

.addToWishlist {
  width: 90%;
}

.addToInventory {
  width: 90%;
}

/****************************************************************
 * Loader Styles
*****************************************************************/
.cssload-container *, .cssload-container *:before, .cssload-container *:after{
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cssload-container {
  margin: 15px auto;
  width: 210px;
  height: 25px;
}
.cssload-container > div {
  float: left;
  background: rgb(204,0,0);
  height: 100%;
  width: 18px;
  margin-right: 4px;
  display: inline-block;
}

.cssload-container .cssload-shaft1 {
  animation-delay: 0.06s;
      -o-animation-delay: 0.06s;
      -ms-animation-delay: 0.06s;
      -webkit-animation-delay: 0.06s;
      -moz-animation-delay: 0.06s;
}
.cssload-container .cssload-shaft2 {
  animation-delay: 0.12s;
      -o-animation-delay: 0.12s;
      -ms-animation-delay: 0.12s;
      -webkit-animation-delay: 0.12s;
      -moz-animation-delay: 0.12s;
}
.cssload-container .cssload-shaft3 {
  animation-delay: 0.17s;
      -o-animation-delay: 0.17s;
      -ms-animation-delay: 0.17s;
      -webkit-animation-delay: 0.17s;
      -moz-animation-delay: 0.17s;
}
.cssload-container .cssload-shaft4 {
  animation-delay: 0.23s;
      -o-animation-delay: 0.23s;
      -ms-animation-delay: 0.23s;
      -webkit-animation-delay: 0.23s;
      -moz-animation-delay: 0.23s;
}
.cssload-container .cssload-shaft5 {
  animation-delay: 0.29s;
      -o-animation-delay: 0.29s;
      -ms-animation-delay: 0.29s;
      -webkit-animation-delay: 0.29s;
      -moz-animation-delay: 0.29s;
}
.cssload-container .cssload-shaft6 {
  animation-delay: 0.35s;
      -o-animation-delay: 0.35s;
      -ms-animation-delay: 0.35s;
      -webkit-animation-delay: 0.35s;
      -moz-animation-delay: 0.35s;
}
.cssload-container .cssload-shaft7 {
  animation-delay: 0.4s;
      -o-animation-delay: 0.4s;
      -ms-animation-delay: 0.4s;
      -webkit-animation-delay: 0.4s;
      -moz-animation-delay: 0.4s;
}
.cssload-container .cssload-shaft8 {
  animation-delay: 0.46s;
      -o-animation-delay: 0.46s;
      -ms-animation-delay: 0.46s;
      -webkit-animation-delay: 0.46s;
      -moz-animation-delay: 0.46s;
}
.cssload-container .cssload-shaft9 {
  animation-delay: 0.52s;
      -o-animation-delay: 0.52s;
      -ms-animation-delay: 0.52s;
      -webkit-animation-delay: 0.52s;
      -moz-animation-delay: 0.52s;
}
.cssload-container .cssload-shaft10 {
  animation-delay: 0.58s;
      -o-animation-delay: 0.58s;
      -ms-animation-delay: 0.58s;
      -webkit-animation-delay: 0.58s;
      -moz-animation-delay: 0.58s;
}

.cssload-container > div {
  height: 7px;
  animation: cssload-wave 1.15s infinite ease-in-out;
      -o-animation: cssload-wave 1.15s infinite ease-in-out;
      -ms-animation: cssload-wave 1.15s infinite ease-in-out;
      -webkit-animation: cssload-wave 1.15s infinite ease-in-out;
      -moz-animation: cssload-wave 1.15s infinite ease-in-out;
  transform: translateY"("-35px")";
      -o-transform: translateY"("-35px")";
      -ms-transform: translateY"("-35px")";
      -webkit-transform: translateY"("-35px")";
      -moz-transform: translateY"("-35px")";
}



@keyframes cssload-wave {
  50% {
      background: rgb(255,194,194);
      transform: translateY"("35px")";
  }
}

@-o-keyframes cssload-wave {
  50% {
      background: rgb(255,194,194);
      -o-transform: translateY"("35px")";
  }
}

@-ms-keyframes cssload-wave {
  50% {
      background: rgb(255,194,194);
      -ms-transform: translateY"("35px")";
  }
}

@-webkit-keyframes cssload-wave {
  50% {
      background: rgb(255,194,194);
      -webkit-transform: translateY"("35px")";
  }
}

@-moz-keyframes cssload-wave {
  50% {
      background: rgb(255,194,194);
      -moz-transform: translateY"("35px")";
  }
}

// Favorite selection
.favoriteIcon input[type="checkbox"],
.favoriteIcon .checked {
    display: none;
}
 
.favoriteIcon input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.favoriteIcon input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.ratingStar input[type="checkbox"],
.ratingStar .checked {
    display: none;
}
 
.ratingStar input[type="checkbox"]:checked ~ .checked
{
    display: inline-block;
}
 
.ratingStar input[type="checkbox"]:checked ~ .unchecked
{
    display: none;
}

.addPlatformCol {
  width:10%;
}

.addPlatformCol select {
  width:100%;
}

#messageBox, .alert {
  margin-top:2px !important; 
  margin-bottom:2px !important; 
  height:41px;
}

.alert-error {
  color: #761b18;
  background-color: #f9d6d5;
  border-color: #f7c6c5;
}

.alert-error hr {
  border-top-color: #f4b0af;
}

.alert-error .alert-link {
  color: #4c110f;
}

.sortableCol {
  cursor: pointer;
}

.sortedAsc::after {
    font-family: "Font Awesome 5 Free";
    color:$activated;
    position: relative;
    left: 10px;
    font-weight: 900;
    content: "\f106";
}

.sortedDesc::after {
  font-family: "Font Awesome 5 Free";
  color:$activated;
  position: relative;
  left: 10px;
  font-weight: 900;
  content: "\f107";
}

.filterHeader {
  cursor: pointer;
}

.filterOpened::before {
  font-family: "Font Awesome 5 Free";
  color:$activated;
  margin-left:5px;
  position: relative;
  font-weight: 900;
  content: "\f107";
}

.filterClosed::before {
font-family: "Font Awesome 5 Free";
color:$activated;
margin-left:5px;
position: relative;
font-weight: 900;
content: "\f105";
}

.filterItem, .savedFilterItem {
  margin-left: 15px;
}

#inventorySearch {
  width: 85%;
  margin-left:5px;
}

.saveFilter, .clearFilters, .saveFilterSubmit, .saveFilterCancel {
  font-size: .65rem !important;
}

.filterList {
  margin-bottom: 10px;
}

.filterNameDiv, .saveFilterButtons, .filterActions {
  margin: 5px;
}

#leftSidebar {
  flex: 0 0 11% !important;
  max-width: 11% !important;
  border-right: 2px solid $border;
  background-color: $body-bg;
  color: $text;
}

#rightSidebar {
  flex: 0 0 25% !important;
  max-width: 25% !important;
  background-color: $body-bg;
  color: $text;
}

#mainDiv {
  flex: 0 0 64% !important;
  max-width: 64% !important;
  border-right: 2px solid $border;
}

#filterName {
  width: 100%;
}

#inventorySearch {
  width: 94%;
}

.editFilterName, .deleteFilter, .editFilterValues, .saveEditFilterName, .cancelEditFilterName {
  margin: 0 2px;
  float: right;
}

.savedFilterActionsWrapper{
  width: 40%;
  max-width: 40%;
  float: right;
}

.savedFilternameWrapper {
  word-break: break-all;
  width: 60%;
  max-width: 60%;
  float: left;
}

.stratingatus, .platformType {
  width: 10%;
}

.card {
  background-color: $body-bg;
  color: $text;
  border: 1px solid $border;
  margin-top: 5px;
}

.card-header {
  border-bottom: 1px solid $border;
}

#gamesTable {
  color: $text;
  font-size: 12px;
}

#gamesTable th, #gamesTable td {
  border-color: $border;
}

.btn-outline-primary {
  color: $text;
  border-color: $text;
}

.btn-outline-secondary {
  color: $text;
  border-color: $activated;
}

#search {
  margin-left: 5px;
  color: $text;
  background-color: $accent;
  color: $body-bg;
}

#gamesBody {
  color: $text;
  font-family: "Hack", monospace;
}

.favoriteIcon:checked, .fa-star:checked {
  color:$activated;
}

.fa-heart, .fa-star {
  color: $compliments;
}

.importSection {
  border-bottom: 1px solid $border;
  padding:20px;
}

.modal-content {
  background-color: $body-bg;
}

.close {
  color: $text;
}

.modal-title { font-size: 28px !important; }

#feedbackSubmit {
  float: right;
}