/*
// Gothic Architecture
$body-bg: #212624;
$accent: #2e303e;
$text: #9199be;
$activated: #54678F;
$border: #6c6b74;

// Blue Accent
$body-bg: #E4EBF2;
$accent: #5A4D4C;
$text: #328DAA;
$activated: #8ED3F4;
$border: #5A4D4C;
*/
// Aqua Greens
//$body-bg: #02231C;
$body-bg: #212624;
$accent: #4DD8AD;
$text: #55D9C0;
$activated: #107050;
$border: #C7F6EC;
/*
// Halloween
$body-bg: #07000E;
$accent: #EECC8D;
$text: #F08b33;
$activated: #D75404;
$border: #8A2C02;
*/

$compliments: #FF8E63;
// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

